<launch>
    <arg name="robot" default="true"/>
    <group if="$(arg robot)">
        <include file="$(find rm_description)/launch/hero.launch"/>
        <include file="$(find chassis_controller)/launch/load_controllers.launch"/>
    </group>
    <group unless="$(arg robot)">
        <include file="$(find rm_description)/launch/engineer.launch"/>
        <include file="$(find chassis_controller)/launch/load_steering_controllers.launch"/>
    </group>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
<!--    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf_publisher"-->
<!--          args="0 0 0 0 0 0 1  sensor oak_-d_base_frame "/>-->
<!--    <node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="0 0 0 0 0 0 1 sensor oak_right_camera_optical_frame 1000"/>-->
</launch>