<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero">

  <xacro:arg name="load_chassis" default="true"/>
  <xacro:arg name="load_gimbal" default="true"/>
  <xacro:arg name="load_shooter" default="true"/>
  <xacro:arg name="load_gazebo" default="true"/>
  <xacro:arg name="use_rm_gazebo" default="false"/>
  <xacro:arg name="roller_type" default="realistic"/>
  <xacro:arg name="load_laser" default="false"/>
  <xacro:arg name="load_camera" default="false"/>
  <xacro:arg name="realsense" default="true"/>


  <xacro:if value="$(arg load_chassis)">
    <xacro:include filename="$(find rm_description)/urdf/hero/chassis.urdf.xacro"/>
    <xacro:chassis roller_type="$(arg roller_type)"/>
  </xacro:if>

  <xacro:if value="$(arg load_gimbal)">
  </xacro:if>

  <xacro:if value="$(arg load_shooter)">
  </xacro:if>

  <xacro:if value="$(arg load_gazebo)">
    <xacro:if value="$(arg use_rm_gazebo)">
      <gazebo>
        <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
          <robotNamespace>/</robotNamespace>
          <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
        </plugin>
      </gazebo>
    </xacro:if>
    <xacro:unless value="$(arg use_rm_gazebo)">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/</robotNamespace>
        </plugin>
      </gazebo>
    </xacro:unless>
  </xacro:if>


  <xacro:include filename="$(find rm_description)/urdf/sensor/head.urdf.xacro" />
  <xacro:include filename="$(find rm_description)/urdf/sensor/sensor.urdf.xacro" />

  <xacro:if value="$(arg realsense)">
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/tracker.xacro"/>
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>
    <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10">
      <origin rpy="0 0.26 0 " xyz="0.18 0 0.3"/>
    </xacro:realsense_d435>
  </xacro:if>

  <xacro:unless value="$(arg realsense)">
    <xacro:if value="$(arg load_laser)">
      <xacro:include filename="$(find rm_description)/urdf/sensor/laser_sim.urdf.xacro" />
    </xacro:if>

    <xacro:if value="$(arg load_camera)">
      <xacro:include filename="$(find rm_description)/urdf/sensor/camera_sim.urdf.xacro" />
    </xacro:if>
  </xacro:unless>





</robot>
